* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    background-color: #f5f7fa;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    background-color: #fff;
    display: flex;
    margin: 0 auto;
    max-width: 900px;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
    background: #1e2939;
    width: 300px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.my-photo {
    width: 300px; 
}
.aboutMe {
    margin: 0px 50px 0px 0px;
}
.about-me-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 40px;
    padding-bottom: 110px;
}
.current-profession {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;

}

.my-name {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.contacts-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
}

.contacts-title {
    line-height: 24px;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.contacts-link {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color:#c8cbcf;
    padding: 0px 0px 0px 30px;
}

.mini-icon_phone {
    background: url("../img/phone-receiver-silhouette.svg") 0 0/20px no-repeat;
    margin: 0px 0px 5px 0px;
}
.mini-icon_mail {
    background: url("../img/email.svg") 0 0/20px no-repeat;
    margin: 0px 0px 5px 0px;
}
.mini-icon_linkedin {
    background: url("../img/linkedin.svg") 0 0/20px no-repeat;
    margin: 0px 0px 5px 0px;
}
.contacts-phone-letters {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    line-height: 24px;
    margin-right: 10px;
}

.tech-skills-title {
    line-height: 24px;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.tech-skills-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.tech-skills-list {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 10px;
    color:#c8cbcf;
}

.tech-skills-list-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color:#ff6b08;
    margin-left: 15px;
}

.soft-skills-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.soft-skills-title {
    line-height: 24px;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.list-text {
    color:#c5c8cc;
}

.soft-skills-list {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color:#ff6b08;
    margin-left: 15px;
}

.short-description {
    line-height: 24px;
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.42px;
    margin-top: 25px;
}

.about-me-titles {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}
    
.projects-container {
    margin: 65px 30px 0px 0px;
}

.projects-list {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 12px;
    margin-left: 10px;
}

.projects-list-item {
    color: #9b9b9b;
}

.work-experience {
    width: 535px;
    margin-top: 50px;
    
}

.company1-container, 
.company2-container, 
.company3-container {
    margin: 20px 30px 0px 0px;
}

.company-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
}

.company-name {
    color: #ff6b08;
} 

.working-time {
    margin-top: 15px;
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.36px;
}

.slash-color {
    color: #000;
}

.work-experience-list {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 15px;
    margin-left: 10px;
}
.summary {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 15px;
    margin-left: 10px;
}

.education-container {
    margin-top: 50px;
}

.education-list {
    font-weight: 700;
    line-height: 24px;
    margin-left: 10px;
}

.university-name {
    font-size: 16px;
    color: #ff6b08;
    margin-top: 20px;
}

.studying-time {
    margin-top: 15px;
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.36px;
}

.specialisation-name {
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    letter-spacing: 0.42px;
}

.dots {
    font-weight: 100;
}
